html {
  font-size: 16px;
}

body {
  max-width: 1500px;
  margin: auto;
  font-family: 'Assistant', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:auto;
  z-index: 30;
  background-color: white;
  background-size: cover;
}

p#logo {
  font-size: 24px;
  color: grey;
}

.logo {
  display: flex;
}

nav {
  float: right;
}

ul {
  display: flex;
  float: right;
}

li {
  display: flex;
  padding-left: 1rem;
  float: right;
  color: grey;
}

.section.one {
  display: inline-flex;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  padding: 0;
}

.bannerimg {
  max-width: 60%;
  padding: 32px 40px 32px 24px;
  overflow: hidden;
}

img.banner {
  max-width: 100%;
  height: auto;
}

.info {
  width: 40%;
  display: inline-block;
  padding-top: 20%;
}

h1 {
  font-size: 2.75rem;
  color: grey;
  line-height: 1;
}

.btn {
  background-color: darkgrey;
  color: white;
  max-width: 20%;
  padding: 8px;
  text-align: center;
  margin-top: 2rem;
}

.section.two {
  display: flex;
}

.mainstory {
  max-width: 60%;
  overflow: hidden;
  border-right: 0.5px solid lightgrey;
  padding-right: 54px;
  margin-right: 24px;
}

.mainstory img {
  width: 100%;
  height: auto;
  padding: 32px 40px 0 24px;
}

h2 {
  font-size: 2.25rem;
  color: grey;
  padding: 32px 0 24px 24px;
}

.mainstory p {
  padding-left: 24px;
  padding-top: 0;
  color: grey;
  line-height: 1.5;
}

h6 {
  padding-left: 24px;
  color: grey;
  font-weight: lighter;
}

.stories {
  max-width: 423px;
}

.story {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  border-bottom: 1px solid lightgrey;
}

.story img {
  width: 35%;
  height: auto;
  max-height: 150px;
  padding: 32px 16px 32px 16px;
}

.imgtwo {
  display: none;
}

h4 {
  font-size: 1.5rem;
  line-height: 1;
  color: darkgrey;
  font-weight: 300;
  padding: 0;
}

p {
  color: grey;
  padding-top: 0;
  line-height: 1.2;
}

.storytext a {
  color: lightblue;
}

#guestlecture {
  background-color: lightgrey;
}

.section.three {
  background-color: lightgrey;
  text-align: center;
}

.start {
  text-align: center;
}

.class {
  display: inline-block;
  justify-content: space-around;
  background-color: white;
  max-width: 25%;
  height: 400px;
  margin: 32px;
}

.class img {
  max-width: 100%;
  height: auto;
}

.class h4 {
  text-align: left;
  padding-left: 1rem;
  color: darkgrey;
}

.class p {
  text-align: left;
  padding: 0 1rem 1rem 1rem;
  line-height: 1.25;
}

#bottomcourses {
  padding-bottom: 32px;
}

.section.four h2 {
  text-align: center;
  padding: 0;
}

.thesis {
  display: flex;
  padding: 32px 0px 32px 24px;
}

.video {
   max-width: 60%;
   height: auto;
   overflow: hidden;
   padding-right: 54px;
   margin-right: 24px;
 }

 footer {
   display: flex;
   justify-content: space-between;
   border-top: 1px solid lightgrey;
   padding: 24px;
 }

.footernav {
  display: flex;
}

.footernav span {
  padding-left: 16px;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }

  #logo {
    display: none;
  }

  .section.one {
      display: block;
  }

  .bannerimg {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .info {
    width: 100%;
    padding-top: 0;
  }

  h1 {
    font-size: 2.25rem;
    padding: 32px 16px;
  }

  .info p {
    padding-bottom: 24px;
    padding-left: 1rem;
  }

  .btn {
    max-width: 80%;
    margin-bottom: 32px;
    margin-left: 1rem;
  }

  .mainstory {
    display: none;
  }

  .story {
    display: block;
    width: 100%;
    border-bottom: 1px solid white;
  }

  .storytext {
    padding: 1rem;
  }

  .story img {
    width: 100%;
    height: auto;
  }

  .imgtwo {
    display: block;
    width: 100%;
    height: auto;
    padding: 1.2rem;
  }

  .imgone {
    display: none;
  }

  #guestlecture {
    background-color: white;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 32px;
  }

  .section.three {
    background-color: white;
  }

  .class {
    display: block;
    text-align: center;
    margin: auto;
    max-width: 100%;
    height: auto;
  }

  .class h4 {
    text-align: left;
    background-color: lightgrey;
    color: black;
    padding: 16px;
    max-width: 90%;
    margin: 1rem;
  }

  .class img {
    display: none;
  }

  .class p {
    display: none;
  }

  .section.four {
    display: block;
  }

  .thesis {
    padding: 1rem;
  }

  .video {
    max-width: 100%;
    height: auto;
    padding-right: 1rem;
    margin-right: 0;
    overflow: hidden;
  }

  .video h4 {
    display: none;
  }

  .video p {
    display: none;
  }

  .small {
    display: none;
  }

  video {
    width: 450px;
    height: 350px;
    padding-bottom: 24px;
  }

  footer {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  h2 {
    padding: 0;
  }
}
